<!doctype html>
<html lang="en">
    
<!--
    :Author: xdudaj02
     author.html renders html page author information.
-->
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E-Knihovna</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Archivo">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu">
    <link rel="icon" sizes="180x180" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://kit.fontawesome.com/307091ac57.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="top-div">
        <header>
            <div id="header-inner">
                <div id="page-heading">
                    <a href="{{ url_for('home') }}">
                        <h1>eKnihovna</h1>
                    </a>
                </div>

                <div id="nav">
                    {% if current_user.is_authenticated %}
                        <a href="{{ url_for('search') }}" class="nav-item">
                            <span>Search</span>
                        </a>
                        <a href="{{ url_for('myLibrary') }}" class="nav-item">
                            <span>My Library</span>
                        </a>
                        <a href="{{ url_for('myShelves') }}" class="nav-item">
                            <span>My Shelves</span>
                        </a>
                        <a href="{{ url_for('myWishlist') }}" class="nav-item">
                            <span>My Wishlist</span>
                        </a>
                        <a href="{{ url_for('logout') }}" class="nav-item">
                            <span>Logout</span>
                        </a>
                    {% else %}
                        <a href="{{ url_for('login') }}" class="nav-item">
                            <span>Login</span>
                        </a>
                        <a href="{{ url_for('register') }}" class="nav-item">
                            <span>Register</span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </header>

        <main>
            <div id="main-inner">
                <div id="content-detail">
                    <div id="content-detail-header">
                        <img src="{{ url_for('static', filename='img/profile.jpg') }}" alt="" height="150 "> <!-- author.picture -->
                        <div class="detail-desc">
                            <h2 class="detail-name">{{author.name}}</h2> <!-- author.name -->
                            <p class="detail-author">Great Britain</p> <!-- author.country -->
                            <p class="detail-other">{{author.born}} - {{author.died}}</p> <!-- author.born - author.died -->
                            <!-- died moze byt null a vtedy sa da ze present #-->
                        </div>
                    </div>
                    <!-- if existuju tituly od autora v databaze -->
                    <div id="content-detail-list">
                        <h3>Titles</h3>
                        <table>
                            <!-- jeden title item -->
                            {% for title in titles %}
                                <tr class="list-item">
                                    <td class="list-item-inner">
                                        <img src="{{ title.img }}" alt="img" height="70"> <!-- title.picture -->
                                        <div class="list-item-text">
                                            <a class="title-name" href="{{ url_for('showTitle', id=title.id)}}">{{title.name}}</a>
                                            <span class="title-year">{{title.release_year}}</span> <!-- title.year -->
                                            <br>
                                            <span class="title-author">{{author.name}}</span> <!-- title author.name -->
                                            <br>
                                            <span class="title-genre">{{title.genre}}</span> <!-- title.genre -->
                                        </div>
                                        <div class="list-item-tag-list">
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <div id="footer-inner">
                <span>&copy 2021, eKnihovna</span>
            </div>
        </footer>
    </div>

</body>
</html>
