<!doctype html>
<html lang="en">
<!--
    :Author: xdudaj02
     home.html renders home html page.
-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E-Knihovna</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Archivo">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu">
    <link rel="icon" sizes="180x180" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://kit.fontawesome.com/307091ac57.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="top-div">
        <header>
            <div id="header-inner">
                <div id="page-heading">
                    <a href="{{ url_for('home') }}">
                        <h1>eKnihovna</h1>
                    </a>
                </div>

                <div id="nav">
                    {% if current_user.is_authenticated %}
                        <a href="{{ url_for('search') }}" class="nav-item">
                            <span>Search</span>
                        </a>
                        <a href="{{ url_for('myLibrary') }}" class="nav-item">
                            <span>My Library</span>
                        </a>
                        <a href="{{ url_for('myShelves') }}" class="nav-item">
                            <span>My Shelves</span>
                        </a>
                        <a href="{{ url_for('myWishlist') }}" class="nav-item">
                            <span>My Wishlist</span>
                        </a>
                        <a href="{{ url_for('logout') }}" class="nav-item">
                            <span>Logout</span>
                        </a>
                    {% else %}
                        <a href="{{ url_for('login') }}" class="nav-item">
                            <span>Login</span>
                        </a>
                        <a href="{{ url_for('register') }}" class="nav-item">
                            <span>Register</span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </header>

        <main>
            <div id="main-inner">
                {% if user %}
                    <p id="welcome-text">Welcome to your eKnihovna <b>{{user.username}}</b>!</p> <!-- user.username -->
                    <br>
                    <!-- if su v databaze title_in_library s tagom reading -->
                    {% if titles %}
                        <h3>Currently reading</h3>
                        <table>
                            <!-- jeden item -->
                            {% for title in titles|reverse %}
                            <tr class="list-item">
                                <td class="list-item-inner">
                                    <div class="list-item-page">
                                        <p>PAGE</p>
                                        <span>{{title.page}}</span> <!-- title_in_library.page -->
                                    </div>
                                    <img src="{{title.l_title.img}}" alt="img" height="70">
                                    <!-- title_in_library.title.picture -->
                                    <div class="list-item-text">
                                        <a class="title-name" href="{{ url_for('showTitle', id=title.l_title.id)}}">{{title.l_title.name}}</a>
                                        <!-- title_in_library.title.name -->
                                        <span class="title-year">{{title.l_title.release_year}}</span> <!-- title_in_library.title.year -->
                                        <br>
                                        <a class="title-author" href="{{ url_for('showAuthor', id=title.l_title.author_id)}}">{{title.l_title.author.name}}</a>
                                        <!-- title_in_library.title.author -->
                                        <br>
                                        <span class="title-genre">{{title.l_title.genre}}</span> <!-- title_in_library.title.genre -->
                                    </div>
                                    <div class="list-item-tag-list">
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                {%else%}
                    <p id="welcome-text">Welcome to eKnihovna, please <a href="{{ url_for('login') }}" class="small-link">log in</a>!</p>
                    <p id="info-text"></p>
                {% endif %}
            </div>
        </main>

        <footer>
            <div id="footer-inner">
                <span>&copy 2021, eKnihovna</span>
            </div>
        </footer>
    </div>

    <script>
        function func() {
            const xhttp = new XMLHttpRequest();
            xhttp.open("POST", "{{ url_for('home')}}", true);
            xhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded;");
            xhttp.send();

            xhttp.onreadystatechange = function() {
                if ((xhttp.readyState === 4) && (xhttp.status === 200)) {
                    const pole = JSON.parse(xhttp.responseText);
                    const time = pole['time'];
                    const users = pole['users'];
                    document.getElementById("info-text").innerHTML = 'Current time: ' + time + '<br>Users active: ' + users;
                    console.log(document.getElementById("info-text").innerHTML);
                }
            }
        }

        setInterval(func, 1000);
    </script>

</body>
</html>
