<!doctype html>
<html lang="en">
<!--
    :Author: xsapak05
     my_library.html renders html page with library information.
-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E-Knihovna</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Archivo">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu">
    <link rel="icon" sizes="180x180" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://kit.fontawesome.com/307091ac57.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="top-div">
        <header>
            <div id="header-inner">
                <div id="page-heading">
                    <a href="{{ url_for('home') }}">
                        <h1>eKnihovna</h1>
                    </a>
                </div>

                <div id="nav">
                    {% if current_user.is_authenticated %}
                        <a href="{{ url_for('search') }}" class="nav-item" id="nav-search">
                            <span>Search</span>
                        </a>
                        <a href="{{ url_for('myLibrary') }}" class="nav-selected" id="nav-lib">
                            <span>My Library</span>
                        </a>
                        <a href="{{ url_for('myShelves') }}" class="nav-item" id="nav-shelves">
                            <span>My Shelves</span>
                        </a>
                        <a href="{{ url_for('myWishlist') }}" class="nav-item" id="nav-wl">
                            <span>My Wishlist</span>
                        </a>
                        <a href="{{ url_for('logout') }}" class="nav-item" id="nav-logout">
                            <span>Logout</span>
                        </a>
                    {% else %}
                        <a href="{{ url_for('login') }}" class="nav-item" id="nav-login">
                            <span>Login</span>
                        </a>
                        <a href="{{ url_for('register') }}" class="nav-item" id="nav-register">
                            <span>Register</span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </header>

        <main>
            <div id="main-inner">
                <div id="content-header">
                    <h2>My Library</h2>
                </div>
                <div id="content">
                    <h3>Add Title</h3>
                    <p>Add title to your library by entering its isbn or find a title in the Search section.</p>
                    <!-- on submit through post method sends isbn value in isbn -->
                    <form action="" method="post" class="isbn-form">
                        <label for="isbn"><b>ISBN: </b></label>
                        <input type="text" name="isbn" id="isbn">
                        <input type="submit" name="button_add" value="Add" onclick="return add_isbn()">
                    </form>
                    <div id="isbn-add-result">
                        <p></p>
                    </div>

                    <h3>My Titles</h3>
                    {% if title_count > 0 %}
                        <!-- post method: v search je hladany retazec a v search_filter je co sa sf_x kde x je co sa prehladava -->
                        <form action="" method="get" class="form-search" id="visible_if_any">
                            <label for="search"></label>
                            <input type="text" name="search" id="search" size="30">
                            <input type="submit" value="Search">
                            <div class="search_filter">
                                <label><input type="radio" value="all" checked="checked" name="search_filter" id="sf_all"> all</label>
                                <label><input type="radio" value="title" name="search_filter" id="sf_title"> title</label>
                                <label><input type="radio" value="author" name="search_filter" id="sf_author"> author</label>
                                <label><input type="radio" value="genre" name="search_filter" id="sf_genre"> genre</label>
                            </div>
                        </form>
                    {% endif %}

                    <div class="list-wrapper">
                        {% if titles %}
                            <table id="titles-table">
                                {% for title, shelves in titles.items() %}
                                    <tr class="list-item">
                                        <td class="list-item-inner">
                                            <img src={{title.img}} alt="img" height="70">
                                            <div class="list-item-text">
                                                <a class="title-name" href="{{ url_for('showTitle', id=title.id)}}">{{title.name}}</a>
                                                <span class="title-year">{{title.release_year}}</span>
                                                <br>
                                                <a class="title-author" href="{{ url_for('showAuthor', id=title.author_id)}}">{{title.author.name}}</a>
                                                <br>
                                                <span class="title-genre">{{title.genre}}</span>
                                            </div>
                                            <div class="list-item-tag-list">
                                                {% for shelf in shelves %}
                                                    <span class="tag-item">{{ shelf.name }}</span>
                                                {% endfor %}
                                            </div>
                                            <!-- vdzy toto tlacitko -->
                                            <div class="list-item-button">
                                                <p>LIBRARY</p>
                                                <!-- on press send post request with remove=title_in_library.title.isbn -->
                                                <!-- odstrani sa title_in_library -->
                                                <div class="form-button-icon">
                                                    <button name="remove" value="{{ title.isbn }}" class="btn-del" onclick="return lib_action('{{ title.isbn }}')">
                                                        <!-- isbn_value=title_in_library.title.isbn -->
                                                        <i class="fas fa-times"></i>
                                                        <span class="tooltip">remove</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% else %}
                            {% if search %}
                                <p>No matching titles in your library.</p>
                            {% else %}
                                <p>You dont have any titles in your library.</p>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <div id="footer-inner">
                <span>&copy 2021, eKnihovna</span>
            </div>
        </footer>
    </div>

    <script>
        function lib_action(isbn) {
            const buttons = document.getElementsByClassName("btn-del");
            let btn_pressed;
            for(let x = 0; x < buttons.length; x++)
                if(buttons[x].value === isbn)
                    btn_pressed = buttons[x];

            const xhttp = new XMLHttpRequest();
            xhttp.open("POST", "{{ url_for('myLibrary')}}", true);
            xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhttp.send(JSON.stringify({ "event": "remove", "id": isbn }));

            xhttp.onreadystatechange = function() {
                if ((xhttp.readyState === 4) && (xhttp.status === 200)) {
                    let parent = btn_pressed.parentElement.parentElement.parentElement.parentElement.parentElement;
                    btn_pressed.parentElement.parentElement.parentElement.parentElement.remove();
                    if (parent.innerHTML.trim().length === 0) {
                        document.getElementById("visible_if_any").remove();
                        parent.parentElement.parentElement.innerHTML = `<p>You dont have any titles in your library.</p>`;
                    }
                }
            }
            return false;
        }

        function add_isbn() {
            const isbn = document.getElementById('isbn').value;

            const xhttp = new XMLHttpRequest();
            xhttp.open("POST", "{{ url_for('myLibrary')}}", true);
            xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhttp.send(JSON.stringify({ "event": "isbn_add", "isbn": isbn }));

            xhttp.onreadystatechange = function() {
                if ((xhttp.readyState === 4) && (xhttp.status === 200)) {
                    const response = JSON.parse(xhttp.responseText);
                    if (response['found'] === 'true') {
                        document.getElementById('isbn-add-result').innerHTML = `<p class="ok-msg">Title ` + response['name'] + ` was successfully added to your library</p>`;

                        let title_url = "{{ url_for('showTitle', id=0)}}";
                        let author_url = "{{ url_for('showAuthor', id=0)}}";
                        title_url = title_url.substring(0, title_url.length - 2) + response['title_id'];
                        author_url = author_url.substring(0, author_url.length - 2) + response['author_id'];
                        let new_title_item_html = `<tr class="list-item"><td class="list-item-inner"><img src=` + response['image'] + ` alt="img" height="70"><div class="list-item-text"><a class="title-name" href="` + title_url + `">` + response['name'] + `</a><span class="title-year">` + response['year'] + `</span><br><a class="title-author" href="` + author_url + `">` + response['author'] + `</a><br><span class="title-genre">` + response['genre'] + `</span></div><div class="list-item-tag-list">`;
                        new_title_item_html += `</div><div class="list-item-button"><p>LIBRARY</p><div class="form-button-icon"><button name="remove" value="` + response['isbn'] + `" class="btn-del" onclick="return lib_action('` + response['isbn'] + `')"><i class="fas fa-times"></i><span class="tooltip">remove</span></button></div></div></td></tr>`;

                        const title_items = document.getElementsByClassName("list-item");
                        const title_cnt = title_items.length;
                        let inserted = false;
                        for(let x = 0; x < title_cnt; x++) {
                            if (response['name'] < title_items[x].firstElementChild.firstElementChild.nextElementSibling.firstElementChild.innerHTML) {
                                title_items[x].insertAdjacentHTML('beforebegin', new_title_item_html);
                                inserted = true;
                            }
                        }
                        if (inserted === false) {
                            document.getElementById('titles-table').lastElementChild.insertAdjacentHTML('afterend', new_title_item_html);
                        }
                    } else if (response['found'] === 'false') {
                        document.getElementById('isbn-add-result').innerHTML = `<p class="err-msg">Sorry, there is no title with this isbn in the database. Contact the <a class="err-link" href="mailto:admin@eknihovna.com?subject=Missing title ` + isbn + `&body=Please add this title.">admin</a>.</p>`;
                    } else {
                        document.getElementById('isbn-add-result').innerHTML = `<p class="err-msg">You already have this title in your library.</p>`;
                    }
                }
            }
            return false;
        }
    </script>

</body>
</html>
