<!doctype html>
<html lang="en">
<!--
    :Author: xsapak05
     my_library.html renders html page with library information.
-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E-Knihovna</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Archivo">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu">
    <link rel="icon" sizes="180x180" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://kit.fontawesome.com/307091ac57.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="top-div">
        <header>
            <div id="header-inner">
                <div id="page-heading">
                    <a href="{{ url_for('home') }}">
                        <h1>eKnihovna</h1>
                    </a>
                </div>

                <div id="nav">
                    {% if current_user.is_authenticated %}
                        <a href="{{ url_for('search') }}" class="nav-item">
                            <span>Search</span>
                        </a>
                        <a href="{{ url_for('myLibrary') }}" class="nav-item" id="nav-selected">
                            <span>My Library</span>
                        </a>
                        <a href="{{ url_for('myShelves') }}" class="nav-item">
                            <span>My Shelves</span>
                        </a>
                        <a href="{{ url_for('myWishlist') }}" class="nav-item">
                            <span>My Wishlist</span>
                        </a>
                        <a href="{{ url_for('logout') }}" class="nav-item">
                            <span>Logout</span>
                        </a>
                    {% else %}
                        <a href="{{ url_for('login') }}" class="nav-item">
                            <span>Login</span>
                        </a>
                        <a href="{{ url_for('register') }}" class="nav-item">
                            <span>Register</span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </header>

        <main>
            <div id="main-inner">
                <div id="content-header">
                    <h2>My Library</h2>
                </div>
                <div id="content">
                    <h3>Add Title</h3>
                    <p>Add title to your library by entering its isbn or find a title in the Search section.</p>
                    <!-- on submit through post method sends isbn value in isbn -->
                    <form action="" method="post" class="isbn-form">
                        <label for="isbn"><b>ISBN: </b></label>
                        <input type="text" name="isbn" id="isbn">
                        <input type="submit" name="button_add" value="Add">
                    </form>
                    <!-- if title s isbn=isbn doesnt exist -> display this, replace isbn_value -->
                    {% if result == False %}
                        <p class="err-msg">Sorry, there is no title with this isbn in the database. Contact the
                            <a class="err-link" href="mailto:admin@eknihovna.com?subject=Missing title {{ bad_isbn }}&body=Please add this title.">admin</a>.
                        </p>
                    <!-- if title s isbn=isbn exists -> create title_in_library and display this -->
                    <!-- ked sa prida mohlo by to redirectnut na jeho detail aby sa dalo pridat do policiek a hovadiny
                    lebo sa mi tam nechcelo robit daky pridavaci form -->
                    {% elif result == True %}
                        <p class="ok-msg">Title successfully added to your library.</p>
                    <!-- if not post -> display this -->
                    {% else %}
                        <p></p>
                    {% endif %}

                    <h3>Search My Titles</h3>
                    <!-- post method: v search je hladany retazeca a v search_filter je co sa sf_x kde x je co sa prehladava -->
                    <form action="" method="post" class="form-search">
                        <label for="search"></label>
                        <input type="text" name="search" id="search" size="30">
                        <input type="submit" name="button_search" value="Search">
                        <div class="search_filter">
                            <label><input type="radio" value="all" checked="checked" name="search_filter" id="sf_all"> all</label>
                            <label><input type="radio" value="title" name="search_filter" id="sf_title"> title</label>
                            <label><input type="radio" value="author" name="search_filter" id="sf_author"> author</label>
                            <label><input type="radio" value="genre" name="search_filter" id="sf_genre"> genre</label>
                        </div>
                    </form>

                    <div class="list-wrapper">
                        {% if titles %}
                            <table>
                                {% for title, shelves in titles %}
                                    <tr class="list-item">
                                        <td class="list-item-inner">
                                            <img src={{title.img}} alt="img" height="70">
                                            <div class="list-item-text">
                                                <a class="title-name" href="{{ url_for('showTitle', id=title.id)}}">{{title.name}}</a>
                                                <span class="title-year">{{title.release_year}}</span>
                                                <br>
                                                <a class="title-author" href="{{ url_for('showAuthor', id=title.author_id)}}">{{title.author.name}}</a>
                                                <br>
                                                <span class="title-genre">{{title.genre}}</span>
                                            </div>
                                            <div class="list-item-tag-list">
                                                {% for shelf in shelves %}
                                                    <span class="tag-item">{{ shelf.name }}</span>
                                                {% endfor %}
                                            </div>
                                            <!-- vdzy tieto 2 tlacitka -->
                                            <div class="list-item-button">
                                                <p>LIBRARY</p>
                                                <!-- on press send post request with remove=title_in_library.title.isbn -->
                                                <!-- odstrani sa title_in_library -->
                                                <form method="POST" class="form-button-icon">
                                                    <button name="remove" value="{{ title.isbn }}" class="btn-del">
                                                        <!-- isbn_value=title_in_library.title.isbn -->
                                                        <i class="fas fa-times"></i>
                                                        <span class="tooltip">remove</span>
                                                    </button>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% else %}
                            {% if search %}
                                <p>No matching titles in your library.</p>
                            {% else %}
                                <p>You dont have any titles in your library.</p>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <div id="footer-inner">
                <span>&copy 2021, eKnihovna</span>
            </div>
        </footer>
    </div>
</body>
</html>
