<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E-Knihovna</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Archivo">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu">
    <link rel="icon" sizes="180x180" href="../static/favicon.ico">
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://kit.fontawesome.com/307091ac57.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="top-div">
        <header>
            <div id="header-inner">
                <div id="page-heading">
                    <a href="{{ url_for('home') }}">
                        <h1>eKnihovna</h1>
                    </a>
                </div>

                <div id="nav">
                    {% if current_user.is_authenticated %}
                        <a href="{{ url_for('search') }}" class="nav-item">
                            <span>Search</span>
                        </a>
                        <a href="{{ url_for('myLibrary') }}" class="nav-item" id="nav-selected">
                            <span>My Library</span>
                        </a>
                        <a href="{{ url_for('myShelves') }}" class="nav-item">
                            <span>My Shelves</span>
                        </a>
                        <a href="{{ url_for('myWishlist') }}" class="nav-item">
                            <span>My Wishlist</span>
                        </a>
                        <a href="{{ url_for('logout') }}" class="nav-item">
                            <span>Logout</span>
                        </a>
                    {% else %}
                        <a href="{{ url_for('login') }}" class="nav-item">
                            <span>Login</span>
                        </a>
                        <a href="{{ url_for('register') }}" class="nav-item">
                            <span>Register</span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </header>

        <main>
            <div id="main-inner">
                <div id="content-header">
                    <h2>My Library</h2>
                </div>
                <div id="content">
                    <h3>Add Title</h3>
                    <p>Add title to your library by entering its isbn or find a title in the Search section.</p>
                    <!-- on submit through post method sends isbn value in isbn -->
                    <form action="" method="post" class="isbn-form">
                        <label for="isbn">ISBN: </label>
                        <input type="number" min="1" name="isbn" id="isbn">
                        <input type="submit" value="Add">
                    </form>
                    <!-- if title s isbn=isbn doesnt exist -> display this, replace isbn_value -->
                    <p class="err-msg">Sorry, there is no title with this isbn in the database. Contact the
                        <a class="err-link" href="mailto:admin@eknihovna.com?subject=Missing title&body=isbn_value">admin</a>.
                    </p>
                    <!-- if title s isbn=isbn exists -> create title_in_library and display this -->
                    <!-- ked sa prida mohlo by to redirectnut na jeho detail aby sa dalo pridat do policiek a hovadiny
                    lebo sa mi tam nechcelo robit daky pridavaci form -->
                    <p class="ok-msg">Title successfully added to your library.</p>
                    <!-- if not post -> display this -->
                    <p></p>

                    <h3>Search My Titles</h3>
                    <!-- post method: v search je hladany retazeca a v search_filter je co sa sf_x kde x je co sa prehladava -->
                    <form action="" method="post" class="form-search">
                        <label for="search"></label>
                        <input type="text" name="search" id="search" size="30">
                        <input type="submit" value="Search">
                        <div class="search_filter">
                            <label><input type="radio" checked="checked" name="search_filter" id="sf_all"> all</label>
                            <label><input type="radio" value="title" name="search_filter" id="sf_title"> title</label>
                            <label><input type="radio" value="author" name="search_filter" id="sf_author"> author</label>
                            <label><input type="radio" value="genre" name="search_filter" id="sf_genre"> genre</label>
                        </div>
                    </form>

                    <div class="list-wrapper">
                        <table>
                            <!-- title item - same ako v author_detail.html + tlacitka -->
                            <tr class="list-item">
                                <td class="list-item-inner">
                                    <img src="../static/hery.jpg" alt="img" height="70">
                                    <div class="list-item-text">
                                        <span class="title-name">Harry Potter</span>
                                        <span class="title-year">2004</span>
                                        <br>
                                        <span class="title-author">J. K. Rowling</span>
                                        <br>
                                        <span class="title-genre">fantasy</span>
                                    </div>
                                    <div class="list-item-tag-list">
                                        <span class="tag-item">owned</span>
                                        <span class="tag-item">read</span>
                                    </div>
                                    <!-- vzdy tento jeden button -->
                                    <div class="list-item-button">
                                        <p>LIBRARY</p>
                                        <!-- on press send post request with remove=title_in_library.title.isbn -->
                                        <!-- odstrani sa title_in_library -->
                                        <form method="POST" class="form-button-icon">
                                            <button name="remove" value="isbn_value" class="btn-del">
                                                <!-- isbn_value=title_in_library.title.isbn -->
                                                <i class="fas fa-times"></i>
                                                <span class="tooltip">remove</span>
                                            </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            <tr class="list-item">
                                <td class="list-item-inner">
                                    <img src="../static/hery2.jpg" alt="img" height="70">
                                    <div class="list-item-text">
                                        <span class="title-name">Harry Potter 2</span>
                                        <span class="title-year">2005</span>
                                        <br>
                                        <span class="title-author">J. K. Rowling</span>
                                        <br>
                                        <span class="title-genre">fantasy</span>
                                    </div>
                                    <div class="list-item-tag-list">
                                        <span class="tag-item">reading</span>
                                    </div>
                                    <div class="list-item-button">
                                        <p>LIBRARY</p>
                                        <form method="POST" class="form-button-icon">
                                            <button name="remove" value="library" class="btn-del">
                                                <i class="fas fa-times"></i>
                                                <span class="tooltip">remove</span>
                                            </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <div id="footer-inner">
                <span>&copy 2021, eKnihovna</span>
            </div>
        </footer>
    </div>
</body>
</html>