<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E-Knihovna</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Archivo">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu">
    <link rel="icon" sizes="180x180" href="../static/favicon.ico">
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://kit.fontawesome.com/307091ac57.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="top-div">
        <header>
            <div id="header-inner">
                <div id="page-heading">
                    <a href="home">
                        <h1>eKnihovna</h1>
                    </a>
                </div>

                <div id="nav">
                    <a href="search" class="nav-item">
                        <span>Search</span>
                    </a>
                    <a href="myLibrary" class="nav-item">
                        <span>My Library</span>
                    </a>
                    <a href="myShelves" class="nav-item">
                        <span>My Shelves</span>
                    </a>
                    <a href="myWishlist" class="nav-item">
                        <span>My Wishlist</span>
                    </a>
                    {% if current_user.is_authenticated %}
                        <a href="logout">Log out</a>
                    {% else %}
                        <a href="login">Log in</a>
                        <a href="register">Sign up</a>
                    {% endif %}
                </div>
            </div>
        </header>

        <main>
            <!-- vsetko same ako my_library.html + tlacitka -->
            <div id="main-inner">
                <div id="content-header">
                    <h2>Search</h2>
                </div>
                <div id="content">
                    <form action="" class="form-search">
                        <label><input type="text" name="search" size="30"></label>
                        <input type="submit" value="Search">
                        <div class="search_filter">
                            <label><input type="radio" value="all" checked="checked" name="search_filter" id="search_filter_all"> all</label>
                            <label><input type="radio" value="title" name="search_filter" id="search_filter_title"> title</label>
                            <label><input type="radio" value="author" name="search_filter" id="search_filter_author"> author</label>
                            <label><input type="radio" value="genre" name="search_filter" id="search_filter_genre"> genre</label>
                        </div>
                    </form>
                    <!--<p id="result-count">2 results</p>-->

                    <div class="list-wrapper">
                        <table>
                            {% for title in titles: %}
                            <tr class="list-item">
                                <td class="list-item-inner">
                                    <img src={{title.img}} alt="img" height="70">
                                    <div class="list-item-text">
                                        <span class="title-name">{{title.name}}</span>
                                        <span class="title-year">{{title.release_year}}</span>
                                        <br>
                                        <span class="title-author">{{title.author.name}}</span>
                                        <br>
                                        <span class="title-genre">{{title.genre}}</span>
                                    </div>
                                    <div class="list-item-tag-list">
                                    </div>
                                    <!-- vdzy tieto 2 tlacitka -->
                                    <div class="list-item-button">
                                        <p>LIBRARY</p>
                                        <!-- on press sends post request s add_lib=title.isbn -->
                                        <!-- vytvori sa title_in_library -->
                                        <form method="POST" class="form-button-icon">
                                            <button name="add_lib" value="isbn_value" class="btn-add">
                                                <!--# isbn_value=title.isbn -->
                                                <i class="fas fa-plus"></i>
                                                <span class="tooltip">add</span>
                                            </button>
                                        </form>
                                    </div>
                                    <div class="list-item-button">
                                        <p>WISHLIST</p>
                                        <!-- on press sends post request s add_wl=title.isbn -->
                                        <!-- vytvori sa title_in_wishlist -->
                                        <form method="POST" class="form-button-icon">
                                            <button name="add_wl" value="isbn_value" class="btn-add">
                                                <!-- isbn_value=title.isbn -->
                                                <i class="fas fa-plus"></i>
                                                <span class="tooltip">add</span>
                                            </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <div id="footer-inner">
                <span>&copy 2021, eKnihovna</span>
            </div>
        </footer>
    </div>
</body>
</html>
