<!doctype html>
<html lang="en">
<!--
    :Author: xdudaj02
     shelf_detail.html renders html page with shelf information.
-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E-Knihovna</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Archivo">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu">
    <link rel="icon" sizes="180x180" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://kit.fontawesome.com/307091ac57.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="top-div">
        <header>
            <div id="header-inner">
                <div id="page-heading">
                    <a href="{{ url_for('home') }}">
                        <h1>eKnihovna</h1>
                    </a>
                </div>

                <div id="nav">
                    {% if current_user.is_authenticated %}
                        <a href="{{ url_for('search') }}" class="nav-item">
                            <span>Search</span>
                        </a>
                        <a href="{{ url_for('myLibrary') }}" class="nav-item">
                            <span>My Library</span>
                        </a>
                        <a href="{{ url_for('myShelves') }}" class="nav-item" id="nav-selected">
                            <span>My Shelves</span>
                        </a>
                        <a href="{{ url_for('myWishlist') }}" class="nav-item">
                            <span>My Wishlist</span>
                        </a>
                        <a href="{{ url_for('logout') }}" class="nav-item">
                            <span>Logout</span>
                        </a>
                    {% else %}
                        <a href="{{ url_for('login') }}" class="nav-item">
                            <span>Login</span>
                        </a>
                        <a href="{{ url_for('register') }}" class="nav-item">
                            <span>Register</span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </header>

        <main>
            <div id="main-inner">
                <div id="content-detail">
                    <div id="content-detail-header">
                        <div class="detail-desc">
                            <h2>{{shelf.name}}</h2> <!-- shelf.name -->
                            <p>{{shelf.desc}}</p> <!-- shelf.description -->
                        </div>
                        <!-- default tlacitka -->
                        <div class="detail-button-area">
                            <div class="form-button-wrapper">
                                <!-- vola edit shelf popup -->
                                <button name="shelf" value="edit" class="btn-edit" id="create-tag-btn">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <p class="btn-desc">EDIT SHELF</p>
                            </div>
                            <div class="form-button-wrapper">
                                <!-- post request s shelf=remove -->
                                <form method="POST" class="form-button-icon">
                                    <button name="shelf" value="remove" class="btn-del">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </form>
                                <p class="btn-desc">REMOVE SHELF</p>
                            </div>
                        </div>
                    </div>

                    <!-- if dake knihy v shelfe -->
                    {% if titles %}
                        <div id="content-detail-list">
                            <h3>Titles ({{ titles|length }})</h3>
                            <table>
                                <!-- jeden item ako v author_detail.html + tlacitko -->
                                {% for title in titles %}
                                    <tr class="list-item">
                                        <td class="list-item-inner">
                                            <img src="{{ title.l_title.img }}" alt="img" height="70">
                                            <div class="list-item-text">
                                                <a class="title-name" href="{{ url_for('showTitle', id=title.l_title.id)}}">{{title.l_title.name}}</a>
                                                <span class="title-year">{{title.l_title.release_year}}</span>
                                                <br>
                                                <a class="title-author" href="{{ url_for('showAuthor', id=title.l_title.author_id)}}">{{title.l_title.author.name}}</a>
                                                <br>
                                                <span class="title-genre">{{title.l_title.genre}}</span>
                                            </div>
                                            <div class="list-item-tag-list">
                                                <span class="tag-item">owned</span>
                                                <span class="tag-item">read</span>
                                            </div>
                                            <div class="list-item-button">
                                                <p>SHELF</p>
                                                <form method="POST" class="form-button-icon">
                                                    <!-- post request s remove=title.isbn -->
                                                    <button name="remove" value="{{title.id}}" class="btn-del">
                                                        <!-- value=title_in_library.isbn -->
                                                        <i class="fas fa-times"></i>
                                                        <span class="tooltip">remove</span>
                                                    </button>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    {% else %}
                        <p>There are no titles in this shelf yet.</p>
                    {% endif %}
                </div>
            </div>
        </main>

        <footer>
            <div id="footer-inner">
                <span>&copy 2021, eKnihovna</span>
            </div>
        </footer>
    </div>

    <div id="create-tag-modal" class="modal">
        <div class="modal-inner">
            <div class="modal-header">
                <h2>Edit Shelf</h2>
                <i class="fas fa-times" id="create-tag-close"></i>
            </div>
            <div class="modal-body">
                <div class="modal-form">
                    <form action="" method="POST">
                        <div class="input-row">
                            <label for="name" class="required-label">Name: </label>
                            <input type="text" name="name" id="name" required="required" value="{{shelf.name}}">
                        </div>
                        <div class="input-row">
                            <label for="text">Description: </label>
                            <textarea name="text" id="text" rows="5">{{shelf.desc}}</textarea>
                        </div>
                        <button name="shelf" value="edit" class="btn-add" type="submit">
                            <i class="fas fa-check"></i>
                        </button>
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='create_tag.js') }}"></script>
</body>
</html>