<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E-Knihovna</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Archivo">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu">
    <link rel="icon" sizes="180x180" href="../static/favicon.ico">
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://kit.fontawesome.com/307091ac57.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="top-div">
        <header>
            <div id="header-inner">
                <div id="page-heading">
                    <a href="home">
                        <h1>eKnihovna</h1>
                    </a>
                </div>

                <div id="nav">
                    {% if current_user.is_authenticated %}
                        <a href="search" class="nav-item">
                            <span>Search</span>
                        </a>
                        <a href="myLibrary" class="nav-item">
                            <span>My Library</span>
                        </a>
                        <a href="myShelves" class="nav-item">
                            <span>My Shelves</span>
                        </a>
                        <a href="myWishlist" class="nav-item">
                            <span>My Wishlist</span>
                        </a>
                        <a href="logout" class="nav-item">
                            <span>Logout</span>
                        </a>
                    {% else %}
                        <a href="login" class="nav-item">
                            <span>Login</span>
                        </a>
                        <a href="register" class="nav-item">
                            <span>Register</span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </header>

        <main>
            <div id="main-inner">
                <div id="content-detail">
                    <div id="content-detail-header">
                        <div class="detail-desc">
                            <h2>{{shelf.name}}</h2> <!-- shelf.name -->
                            <p>{{shelf.desc}}</p> <!-- shelf.description -->
                        </div>
                        <!-- default tlacitka -->
                        <div class="detail-button-area">
                            <div class="form-button-wrapper">
                                <!-- vola edit shelf popup -->
                                <button name="shelf" value="edit" class="btn-edit" id="create-tag-btn">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <p class="btn-desc">EDIT SHELF</p>
                            </div>
                            <div class="form-button-wrapper">
                                <!-- post request s shelf=remove -->
                                <form method="POST" class="form-button-icon">
                                    <button name="shelf" value="remove" class="btn-del">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </form>
                                <p class="btn-desc">REMOVE SHELF</p>
                            </div>
                        </div>
                    </div>

                    <!-- if dake knihy v shelfe -->
                    <div id="content-detail-list">
                        <h3>Titles</h3>
                        <table>
                            <!-- jeden item ako v author_detail.html + tlacitko -->
                            <tr class="list-item">
                                <td class="list-item-inner">
                                    <img src="../static/hery.jpg" alt="img" height="70">
                                    <div class="list-item-text">
                                        <span class="title-name">Harry Potter</span>
                                        <span class="title-year">2004</span>
                                        <br>
                                        <span class="title-author">J. K. Rowling</span>
                                        <br>
                                        <span class="title-genre">fantasy</span>
                                    </div>
                                    <div class="list-item-tag-list">
                                        <span class="tag-item">owned</span>
                                        <span class="tag-item">read</span>
                                    </div>
                                    <div class="list-item-button">
                                        <p>SHELF</p>
                                        <form method="POST" class="form-button-icon">
                                            <!-- post request s remove=title.isbn -->
                                            <button name="remove" value="isbn_value" class="btn-del">
                                                <!-- value=title_in_library.isbn -->
                                                <i class="fas fa-times"></i>
                                                <span class="tooltip">remove</span>
                                            </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            <tr class="list-item">
                                <td class="list-item-inner">
                                    <img src="../static/hery2.jpg" alt="img" height="70">
                                    <div class="list-item-text">
                                        <span class="title-name">Harry Potter 2</span>
                                        <span class="title-year">2005</span>
                                        <br>
                                        <span class="title-author">J. K. Rowling</span>
                                        <br>
                                        <span class="title-genre">fantasy</span>
                                    </div>
                                    <div class="list-item-tag-list">
                                        <span class="tag-item">reading</span>
                                    </div>
                                    <div class="list-item-button">
                                        <p>SHELF</p>
                                        <form method="POST" class="form-button-icon">
                                            <button name="remove" value="library" class="btn-del">
                                                <i class="fas fa-times"></i>
                                                <span class="tooltip">remove</span>
                                            </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <div id="footer-inner">
                <span>&copy 2021, eKnihovna</span>
            </div>
        </footer>
    </div>

    <div id="create-tag-modal" class="modal">
        <div class="modal-inner">
            <div class="modal-header">
                <h2>Edit Shelf</h2>
                <i class="fas fa-times" id="create-tag-close"></i>
            </div>
            <div class="modal-body">
                <div class="modal-form">
                    <form action="" method="POST">
                        <div class="input-row">
                            <label for="name" class="required-label">Name: </label>
                            <input type="text" name="name" id="name" required="required">
                        </div>
                        <div class="input-row">
                            <label for="text">Description: </label>
                            <textarea name="text" id="text" rows="5"></textarea>
                        </div>
                        <button name="note" value="add" class="btn-add" type="submit">
                            <i class="fas fa-check"></i>
                        </button>
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="../static/create_tag.js"></script>
</body>
</html>