<!doctype html>
<html lang="en">
<!--
    :Author: xdudaj02
     title_detail.html renders html page with title information.
-->    
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E-Knihovna</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Archivo">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu">
    <link rel="icon" sizes="180x180" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://kit.fontawesome.com/307091ac57.js" crossorigin="anonymous"></script>

</head>
<body>
    <div id="top-div">
        <header>
            <div id="header-inner">
                <div id="page-heading">
                    <a href="{{ url_for('home') }}">
                        <h1>eKnihovna</h1>
                    </a>
                </div>

                <div id="nav">
                    {% if current_user.is_authenticated %}
                        <a href="{{ url_for('search') }}" class="nav-item" id="nav-search">
                            <span>Search</span>
                        </a>
                        <a href="{{ url_for('myLibrary') }}" class="nav-item" id="nav-lib">
                            <span>My Library</span>
                        </a>
                        <a href="{{ url_for('myShelves') }}" class="nav-item" id="nav-shelves">
                            <span>My Shelves</span>
                        </a>
                        <a href="{{ url_for('myWishlist') }}" class="nav-item" id="nav-wl">
                            <span>My Wishlist</span>
                        </a>
                        <a href="{{ url_for('logout') }}" class="nav-item" id="nav-logout">
                            <span>Logout</span>
                        </a>
                    {% else %}
                        <a href="{{ url_for('login') }}" class="nav-item" id="nav-login">
                            <span>Login</span>
                        </a>
                        <a href="{{ url_for('register') }}" class="nav-item" id="nav-register">
                            <span>Register</span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </header>

        <main>
            <div id="main-inner">
                <div id="content-detail">
                    <div id="content-detail-header">
                        <img src="{{title.img}}" alt="" height="200">
                        <div class="detail-desc">
                            <h2 class="detail-name">{{title.name}}</h2>
                            <p><a class="detail-author" href="{{ url_for('showAuthor', id=title.author_id)}}">{{title.author.name}}</a></p>
                            <p class="detail-other">{{title.release_year}}</p>
                            <p class="detail-other">{{title.genre}}</p>
                            <div class="detail-tag-list" id="detail-tag-list">
                                {% if my_shelves %}
                                    <!-- for shelf in policky v ktorych je tento title_in_library -->
                                    {% for shelf in my_shelves %}
                                        <div class="detail-tag-item">
                                            <span>{{ shelf.name }}</span> <!-- shelf.name -->
                                            <!-- on click post request with remove_tag=shelf.id -->
                                            <div class="form-button-icon">
                                                <button name="remove_tag" value="{{ shelf.id }}" class="btn-del-tag" onclick="return tag_remove('{{ shelf.id }}')">
                                                    <!-- id_value=shelf.id -->
                                                    <i class="fas fa-times"></i>
                                                    <span class="tooltip">remove</span>
                                                </button>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                {% if lib_title %}
                                    <!-- default sa zobrazi -->
                                    <div class="detail-tag-item" id="add-tag-wrapper">
                                        <div class="form-button-icon">
                                            <!-- calls add title to shelf pop up -->
                                            <button name="tag" value="add" class="btn-add-tag" id="add-tag-btn">
                                                <i class="fas fa-plus"></i>
                                                {% if not my_shelves %}
                                                    <span id="add-to-shelf">Add to shelf</span>
                                                {% else %}
                                                    <span class="tooltip">add</span>
                                                {% endif %}
                                            </button>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <!-- tlacitka - on click post request... -->
                        <div class="detail-button-area">
                            <!-- zobrazi sa ked existuje title_in_library s title.isbn a je v policke reading -->
                            <div class="form-button-wrapper" id="reading-button-wrapper">
                                {% if reading %}
                                    <form method="post" class="form-button-icon">
                                        <!-- odstrani z policky reading a prida do policky read -->
                                        <button name="reading" value="done" class="btn-finish" id="reading-action" onclick="return finish()">
                                            <i class="fas fa-check-circle"></i>
                                        </button>
                                    </form>
                                    <p class="btn-desc">FINISH READING</p>
                                {% endif %}
                            </div>

                            <!-- zobrazi sa ked neexistuje title_in_library pre tento title -->
                            {% if not lib_title %}
                                <div class="form-button-wrapper">
                                    <div class="form-button-icon">
                                        <!-- vytvori title_in_library, isbn netreba poslat, bude v url -->
                                        <button name="library" value="add" class="btn-add" id="lib-action" onclick="return lib_action()">
                                            <i class="fas fa-plus-circle"></i>
                                        </button>
                                    </div>
                                    <p class="btn-desc">ADD TO LIBRARY</p>
                                </div>
                            {% endif %}
                            <!-- zobrazi sa ked existuje title_in_library pre tento title -->
                            {% if lib_title %}
                                <div class="form-button-wrapper">
                                    <div class="form-button-icon">
                                        <!-- odstrani title_in_library -->
                                        <button name="library" value="remove" class="btn-del" id="lib-action" onclick="return lib_action()">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </div>
                                    <p class="btn-desc">REMOVE FROM LIBRARY</p>
                                </div>
                                <div class="form-button-wrapper" id="wl-button-wrapper">
                                </div>
                            {% endif %}
                            <!-- zobrazi sa ked neexistuje title_in_wishlist pre tento title -->
                            {% if not wl_title and not lib_title %}
                                <div class="form-button-wrapper" id="wl-button-wrapper">
                                    <div class="form-button-icon">
                                        <!-- vytvori sa title_in_wishlist, isbn v url -->
                                        <button name="wishlist" value="add" class="btn-add" id="wl-action" onclick="return wl_action()">
                                            <i class="fas fa-plus-circle"></i>
                                        </button>
                                    </div>
                                    <p class="btn-desc">ADD TO WISHLIST</p>
                                </div>
                            {% endif %}
                            <!-- zobrazi sa ked existuje title_in_wishlist pre tento title -->
                            {% if wl_title %}
                                <div class="form-button-wrapper" id="wl-button-wrapper">
                                    <div class="form-button-icon">
                                        <!-- odstrani title_in_wishlist -->
                                        <button name="wishlist" value="remove" class="btn-del" id="wl-action" onclick="return wl_action()">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </div>
                                    <p class="btn-desc">REMOVE FROM WISHLIST</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <!-- zobrazi sa len ked existuje title_in_library a je v policke reading -->
                    <!-- on enter post request page = new page value -->
                    <div id="page-number-wrapper">
                        {% if reading %}
                            <form method="post" class="form-page-input" onsubmit="return page_num()">
                                <label>
                                    <span>You're on page: </span>
                                    <input type="number" name="page" min="0" value="{{ lib_title.page }}" class="page-input" id="page-input"> <!-- title_in_library.page -->
                                    <i class="fas fa-pencil-alt"></i>
                                    <span class="tooltip">Confirm by pressing Enter.</span>
                                </label>
                            </form>
                        {% endif %}
                    </div>
                    <!-- note_list -->
                    <div id="content-detail-list">
                        {% if lib_title %}
                            <div class="heading-w-button">
                                <h3>My Notes</h3>
                                <!-- vola add note popup -->
                                <button name="note" value="add" class="btn-add" id="add-note-btn">
                                    <span><i class="fas fa-plus-circle"></i> New Note</span>
                                </button>
                            </div>
                            <table id="note-table">
                                <!-- for note in poznamky k tomuto title_in_library -->
                                <!-- jedna note item -->
                                {% for note in notes %}
                                    <tr class="note-list-item">
                                        <td class="note-list-item-color">
                                            <svg width="8px" height="50px" id="col">
                                                <rect width="8px" height="50px" style="fill: {{ note.color }}"></rect> <!-- note.color -->
                                            </svg>
                                        </td>
                                        <td class="note-list-item-page" id="pg">
                                            <p>PAGE</p>
                                            {% if note.end_page != note.start_page %}
                                                <span>{{note.start_page}} - {{note.end_page}}</span>
                                            {% else %}
                                                <span>{{note.start_page}}</span> <!-- note.page_start - note.page_end if note.page_end else note.page_start -->
                                            {% endif %}
                                        </td>
                                        <td class="note-list-item-name" id="nm">
                                            <p>{{note.name}}</p> <!-- note.name -->
                                        </td>
                                        <td class="note-list-item-text" id="txt">
                                            <p>{{note.text}}</p> <!-- note.text -->
                                        </td>
                                        <!-- default tlacitka -->
                                        <td class="note-list-item-button">
                                            <div class="form-button-icon">
                                                <button name="edit_note" value="{{note.id}}" class="btn-edit">
                                                    <i class="fas fa-edit"></i>
                                                    <span class="tooltip">edit</span>
                                                </button>
                                            </div>
                                        </td>
                                        <td class="note-list-item-button">
                                            <!-- post request s remove_note=note.id -->
                                            <!-- odstrani note -->
                                            <form method="POST" class="form-button-icon">
                                                <button name="remove_note" value="{{note.id}}" class="btn-del">
                                                    <!-- id_value=note.id -->
                                                    <i class="fas fa-trash"></i>
                                                    <span class="tooltip">remove</span>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endif %}
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <div id="footer-inner">
                <span>&copy 2021, eKnihovna</span>
            </div>
        </footer>
    </div>

    <!-- add note pop up -->
    <div id="add-note-modal" class="modal">
        <div class="modal-inner">
            <div class="modal-header">
                <h2>Add Note</h2>
                <i class="fas fa-times" id="add-note-close"></i>
            </div>
            <div class="modal-body">
                <div class="modal-form">
                    <!-- post request s note=add a hodnotami pre novy notev : name, page_start, page_end, color, text -->
                    <!-- not sure about the color ze co to posle a ako sa to bude ukladat ta hodnota, hadam to bude
                    hexa hodnota a nebude je treba dako specialne riesit -->
                    <form method="POST">
                        <div class="input-row">
                            <label for="name" class="required-label">Name: </label>
                            <input type="text" name="name" id="name" required="required" maxlength="30">
                        </div>
                        <div class="input-row">
                            <label for="page_start" class="required-label">Page: </label>
                            <input type="number" name="page_start" id="page_start" required="required" min="0">
                            <label for="page_end"> - </label>
                            <input type="number" name="page_end" id="page_end" min="0">
                        </div>
                        <div class="input-row">
                            <label for="color" class="required-label">Color: </label>
                            <input type="color" name="color" id="color" value="#d9d9d9">
                        </div>
                        <div class="input-row">
                            <label for="text">Text: </label>
                            <textarea name="text" id="text" rows="5" maxlength="1000"></textarea>
                        </div>
                        <!-- on click post request -->
                        <button name="note" value="add" type="button" class="btn-add" id="add-note-popup-btn" onclick="return add_note()">
                            <i class="fas fa-check"></i>
                        </button>
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- add title to shelf popup -->
    <div id="add-tag-modal" class="modal">
        <div class="modal-inner">
            <div class="modal-header">
                <h2>Add To Shelf</h2>
                <i class="fas fa-times" id="add-tag-close"></i>
            </div>
            <div class="modal-body">
                <div class="modal-form" id="not-shelves-list">
                    <!-- post request with array: selected[] containing shelf.id values  -->
                    <!-- prida title do vsetkych policiek co su v selected -->
                    <p>This title is already added to all of your shelves.</p>
                </div>
            </div>
        </div>
    </div>

    <script>
    
        function page_num() {
            const xhttp = new XMLHttpRequest();
            xhttp.open("POST", "{{ url_for('showTitle', id=title.id)}}", true);
            xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            const page = document.getElementById('page-input');
            if ((!Number.isInteger(parseInt(page.value))) || (0 > page.value)) {
                alert("invalid page number");
            }
            else {
                xhttp.send(JSON.stringify({ "event": "page", "page": parseInt(page.value) }));
                page.value = String(parseInt(page.value));
            }
            document.activeElement.blur()
            return false;
        }
    </script>

    <script>
        set_add_tag();
        set_add_note();
        remove_effect();
        function lib_action() {
            let new_class = '';
            let type = '';
            if (document.getElementById("lib-action").className === "btn-del") {
                new_class = "btn-add";
                type = "del";
            } else if (document.getElementById("lib-action").className === "btn-add") {
                new_class = "btn-del";
                type = "add";
            } else {
                return false;
            }

            const xhttp = new XMLHttpRequest();
            xhttp.open("POST", "{{ url_for('showTitle', id=title.id)}}", true);
            xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhttp.send(JSON.stringify({ "event": "move", "action": type, "where": "lib" }));

            xhttp.onreadystatechange = function() {
                if ((xhttp.readyState === 4) && (xhttp.status === 200)) {
                    document.getElementById("lib-action").className = new_class;
                    document.getElementById("lib-action").onclick = function (){
                        return lib_action(type);
                    };
                    if (type === "add") {
                        document.getElementById("lib-action").innerHTML = `<i class="fas fa-trash"></i>`
                        document.getElementById("lib-action").parentElement.nextElementSibling.innerHTML = "REMOVE FROM LIBRARY";
                        document.getElementById("wl-button-wrapper").innerHTML = "";
                        document.getElementById("detail-tag-list").innerHTML = `<div class="detail-tag-item" id="add-tag-wrapper"><div class="form-button-icon"><button name="tag" value="add" class="btn-add-tag" id="add-tag-btn"><i class="fas fa-plus"></i><span id="add-to-shelf">Add to shelf</span></button></div></div>`;
                        document.getElementById("content-detail-list").innerHTML = `<div class="heading-w-button"><h3>My Notes</h3><button name="note" value="add" class="btn-add" id="add-note-btn"><span><i class="fas fa-plus-circle"></i> New Note</span></button></div><table id="note-table"></table>`;
                        set_add_tag();
                        set_add_note();
                    }
                    else {
                        document.getElementById("lib-action").innerHTML = `<i class="fas fa-plus-circle"></i>`
                        document.getElementById("lib-action").parentElement.nextElementSibling.innerHTML = "ADD TO LIBRARY";
                        document.getElementById("wl-button-wrapper").innerHTML = `<div class="form-button-icon"><button name="wishlist" value="add" class="btn-add" id="wl-action" onclick="return wl_action()"><i class="fas fa-plus-circle"></i></button></div><p class="btn-desc">ADD TO WISHLIST</p>`;
                        document.getElementById("detail-tag-list").innerHTML = "";
                        document.getElementById("content-detail-list").innerHTML = "";
                        const reading_button = document.getElementById("reading-button-wrapper");
                        if (reading_button) {
                            reading_button.innerHTML = "";
                        }
                        const page_number = document.getElementById("page-number-wrapper");
                        if (page_number) {
                            page_number.innerHTML = "";
                        }
                    }
                }
            }
            return false;
        }
        function wl_action() {
            let new_class = '';
            let type = '';
            if (document.getElementById("wl-action").className === "btn-del") {
                new_class = "btn-add";
                type = "del";
            } else if (document.getElementById("wl-action").className === "btn-add") {
                new_class = "btn-del";
                type = "add";
            } else {
                return false;
            }

            const xhttp = new XMLHttpRequest();
            xhttp.open("POST", "{{ url_for('showTitle', id=title.id)}}", true);
            xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhttp.send(JSON.stringify({ "event": "move", "action": type, "where": "wl" }));

            xhttp.onreadystatechange = function() {
                if ((xhttp.readyState === 4) && (xhttp.status === 200)) {
                    document.getElementById("wl-action").className = new_class;
                    document.getElementById("wl-action").onclick = function (){
                        return wl_action(type);
                    };
                    if (type === "add") {
                        document.getElementById("wl-action").innerHTML = `<i class="fas fa-trash"></i>`
                        document.getElementById("wl-action").parentElement.nextElementSibling.innerHTML = "REMOVE FROM WISHLIST";
                    }
                    else {
                        document.getElementById("wl-action").innerHTML = `<i class="fas fa-plus-circle"></i>`
                        document.getElementById("wl-action").parentElement.nextElementSibling.innerHTML = "ADD TO WISHLIST";
                    }
                }
            }
            return false;
        }

        function finish() {
            const xhttp = new XMLHttpRequest();
            xhttp.open("POST", "{{ url_for('showTitle', id=title.id)}}", true);
            xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhttp.send(JSON.stringify({ "event": "finish" }));

            xhttp.onreadystatechange = function() {
                if ((xhttp.readyState === 4) && (xhttp.status === 200)) {
                    const pole = JSON.parse(xhttp.responseText);
                    const shelf_read_id = pole['read'];
                    const shelf_reading_id = pole['reading'];
                    document.getElementById("reading-button-wrapper").innerHTML = '';
                    document.getElementById("page-number-wrapper").innerHTML = '';
                    const shelf_all = document.getElementsByClassName('btn-del-tag');
                    let shelf_reading_item;
                    let shelf_read_item;
                    for(let x = 0; x < shelf_all.length; x++) {
                        if ((parseInt(shelf_all[x].value) === shelf_reading_id)) {
                            shelf_reading_item = shelf_all[x];
                        }
                        if ((parseInt(shelf_all[x].value) === shelf_read_id)) {
                            shelf_read_item = shelf_all[x];
                        }
                    }
                    if (shelf_read_item != null) {
                        shelf_read_item.parentElement.parentElement.remove();
                    }
                    shelf_reading_item.value = shelf_read_id;
                    shelf_reading_item.parentElement.previousElementSibling.innerHTML = 'Read';
                }
            }
            return false;
        }

        function tag_remove(id) {
            const xhttp = new XMLHttpRequest();
            xhttp.open("POST", "{{ url_for('showTitle', id=title.id)}}", true);
            xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhttp.send(JSON.stringify({ "event": "tag", "action": "remove", "id": id }));

            xhttp.onreadystatechange = function() {
                if ((xhttp.readyState === 4) && (xhttp.status === 200)) {
                    const pole = JSON.parse(xhttp.responseText);
                    const shelf_reading_id = pole['reading'];
                    const shelf_all = document.getElementsByClassName('btn-del-tag');
                    let shelf_item;
                    for (let x = 0; x < shelf_all.length; x++) {
                        if ((shelf_all[x].value === id)) {
                            shelf_item = shelf_all[x];
                        }
                    }
                    if (parseInt(shelf_item.value) === shelf_reading_id) {
                        document.getElementById("reading-button-wrapper").innerHTML = '';
                        document.getElementById("page-number-wrapper").innerHTML = '';
                    }

                    shelf_item.parentElement.parentElement.remove();
                    remove_effect();

                    if (shelf_all.length === 0){
                        document.getElementById("add-tag-btn").innerHTML = `<i class="fas fa-plus"></i><span id="add-to-shelf">Add to shelf</span>`;
                    }
                }
            }
        }

        function tag_add() {
            const checkbox_all = document.getElementsByClassName('checkbox-item');
            let id_list = [];
            let name_list = [];
            for (let x = 0; x < checkbox_all.length; x++) {
                if ((checkbox_all[x].firstElementChild.checked === true)) {
                    id_list.push(checkbox_all[x].firstElementChild.value);
                    name_list.push(checkbox_all[x].firstElementChild.nextElementSibling.innerHTML);
                }
            }

            const xhttp = new XMLHttpRequest();
            xhttp.open("POST", "{{ url_for('showTitle', id=title.id)}}", true);
            xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhttp.send(JSON.stringify({ "event": "tag", "action": "add", "id_list": id_list }));
            xhttp.onreadystatechange = function() {
                if ((xhttp.readyState === 4) && (xhttp.status === 200)) {
                    const modal_tag = document.getElementById("add-tag-modal");
                    modal_tag.style.display = "none";
                    for (let x = 0; x < name_list.length; x++) {
                        let new_tag_html = `<div class="detail-tag-item"><span>`+ name_list[x] +`</span><div class="form-button-icon"><button name="remove_tag" value="`+ id_list[x] +`" class="btn-del-tag" onclick="return tag_remove('`+ id_list[x] +`')"><i class="fas fa-times"></i><span class="tooltip">remove</span></button></div></div>`;
                        document.getElementById('add-tag-wrapper').insertAdjacentHTML('beforebegin', new_tag_html);
                        if (name_list[x] === 'Reading') {
                            document.getElementById("reading-button-wrapper").innerHTML = `<form method="post" class="form-button-icon"><button name="reading" value="done" class="btn-finish" id="reading-action" onclick="return finish()"><i class="fas fa-check-circle"></i></button></form><p class="btn-desc">FINISH READING</p>`;
                            const page = "{{ lib_title.page }}";
                            document.getElementById("page-number-wrapper").innerHTML = `<form method="post" class="form-page-input" onsubmit="return page_num()"><label><span>You're on page: </span><input type="number" name="page" min="0" value="` + page + `" class="page-input" id="page-input"><i class="fas fa-pencil-alt"></i><span class="tooltip">Confirm by pressing Enter.</span></label></form>`;
                        }
                    }
                    document.getElementById("add-tag-btn").innerHTML = `<i class="fas fa-plus"></i><span class="tooltip">add</span>`;
                    remove_effect();
                }
            }

            return false;
        }

        function set_add_tag() {
            let modal_tag = document.getElementById("add-tag-modal");
            let btn_tag = document.getElementById("add-tag-btn");
            let close_tag = document.getElementById("add-tag-close");

            if (btn_tag != null) {
                btn_tag.onclick = function () {
                    const xhttp = new XMLHttpRequest();
                    xhttp.open("POST", "{{ url_for('showTitle', id=title.id)}}", true);
                    xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                    xhttp.send(JSON.stringify({"event": "not_shelf"}));
                    xhttp.onreadystatechange = function () {
                        if ((xhttp.readyState === 4) && (xhttp.status === 200)) {
                            let not_shelves_list = document.getElementById("not-shelves-list");
                            let modal_string = `<form action="" method="POST">`
                            const response = JSON.parse(xhttp.responseText);
                            for (let i in response['order']) {
                                modal_string += `<div class="checkbox-item"><input type="checkbox" name="selected" id="`+ response['not_shelves'][response['order'][i]] + `" value="`+ response['not_shelves'][response['order'][i]] + `"><label for="`+ response['not_shelves'][response['order'][i]] + `">`+ response['order'][i] + `</label></div>`;
                            }
                            modal_string += `<button name="tag" value="add" class="btn-add" type="submit" onclick="return tag_add()"><i class="fas fa-check"></i></button><br></form>`;
                            if (response['order'].length > 0)
                                not_shelves_list.innerHTML = modal_string;
                            else
                                not_shelves_list.innerHTML = `<p>This title is already added to all of your shelves.`;
                            modal_tag.style.display = "block";
                        }
                    }
                };
                btn_tag.onmouseover = function() {
                    btn_tag.parentElement.parentElement.style.border = "1px solid black"
                    btn_tag.parentElement.parentElement.style.color = "black"
                    btn_tag.parentElement.parentElement.style.boxShadow = "-1px 0 1px lightgreen, -1px 1px 1px lightgreen, " +
                        "-1px -1px 1px lightgreen, 1px 0 1px lightgreen, 1px -1px 1px lightgreen, 1px 1px 1px lightgreen, " +
                        "0 -1px 1px lightgreen, 0 1px 1px lightgreen"
                };
                btn_tag.onmouseout = function() {
                    btn_tag.parentElement.parentElement.style.border = "1px solid lightgrey"
                    btn_tag.parentElement.parentElement.style.color = "darkgrey"
                    btn_tag.parentElement.parentElement.style.boxShadow = "none"
                };
            }

            if (close_tag != null) {
                close_tag.onclick = function () {
                    modal_tag.style.display = "none";
                };
            }

            return false;
        }
        
    

        function set_add_note() {
            let modal_note = document.getElementById("add-note-modal");
            let btn_note = document.getElementById("add-note-btn");
            let close_note = document.getElementById("add-note-close");

            if (btn_note != null) {
                btn_note.onclick = function() {
                    modal_note.style.display = "block";
                    
                }
            }

            if (close_note != null) {
                close_note.onclick = function () {
                    modal_note.style.display = "none";
                }
            }

        }
        function add_note(){
            let add_note_btn = document.getElementById("add-note-popup-btn");
            let modal_note = document.getElementById("add-note-modal");
            let name = document.getElementById('name').value;
            let page_start = document.getElementById('page_start').value;
            let page_end = document.getElementById('page_end').value;
            let color = document.getElementById('color').value;
            let text = document.getElementById('text').value;

            if (add_note_btn != null) {
                add_note_btn.onclick = function() {
                
                    const xhttp = new XMLHttpRequest();
                    xhttp.open("POST", "{{ url_for('showTitle', id=title.id)}}", true);
                    xhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded;");
                    xhttp.send(JSON.stringify({ "event": "note", "action": "add" ,"name": name,"page_start": page_start,"page_end": page_end,"color": color,"text": text }));
                    
                    xhttp.onreadystatechange = function() {
                        if ((xhttp.readyState === 4) && (xhttp.status === 200)) {
                            let response = JSON.parse(JSON.stringify(xhttp.response));
                            let name = response['name'];
                            let page_start = response['page_start'];
                            let page_end = response['page_end'];
                            let color = response['color'];
                            let text = response['text'];
                            let id = response['idn'];
                            //document.getElementById("footer-inner").innerHTML += '<p>' + name + page_start + page_end + color + text + id + '</p>'; 
                            document.getElementById("note-table").innerHTML += '<tr class="note-list-item"><td class="note-list-item-color"><svg width="8px" height="50px" id="col"><rect width="8px" height="50px" style="fill: ' + color + '"></rect></svg></td><td class="note-list-item-page" id="pg"><p>PAGE' + page_start + '-' + page_end + '</p></td><td class="note-list-item-name" id="nm"><p>' + name + '</p></td><td class="note-list-item-text" id="txt"><p>' + text + '</p></td><td class="note-list-item-button"><div class="form-button-icon"><button name="edit_note" value="{{'+ id +'}}" class="btn-edit"><i class="fas fa-edit"></i><span class="tooltip">edit</span></button></div></td><td class="note-list-item-button"><form method="POST" class="form-button-icon"><button name="remove_note" value="{{'+ id +'}}"class="btn-del"><i class="fas fa-trash"></i><span class="tooltip">remove</span></button></form></td></tr>';
                            modal_note.style.display = "none";
                        }
                    }
                }
            }
            return false;
        }

        function remove_effect() {
            let del_tags = document.getElementsByClassName('btn-del-tag');
            for (let i = 0; i < del_tags.length; ++i) {
                del_tags[i].onmouseover = function() {
                    del_tags[i].parentElement.parentElement.style.border = "1px solid black"
                    del_tags[i].parentElement.parentElement.style.color = "black"
                    del_tags[i].parentElement.parentElement.style.boxShadow = "-1px 0 1px indianred, -1px 1px 1px indianred, " +
                        "-1px -1px 1px indianred, 1px 0 1px indianred, 1px -1px 1px indianred, 1px 1px 1px indianred, " +
                        "0 -1px 1px indianred, 0 1px 1px indianred"
                };
                del_tags[i].onmouseout = function() {
                    del_tags[i].parentElement.parentElement.style.border = "1px solid lightgrey"
                    del_tags[i].parentElement.parentElement.style.color = "darkgrey"
                    del_tags[i].parentElement.parentElement.style.boxShadow = "none"
                };
            }
        }
    </script>

    <script src="{{ url_for('static', filename='page_form.js') }}"></script>

</body>
</html>