/* Author: xdudaj02 */
body {
    margin: 0;
    background: lightyellow;
    font-family: 'Archivo', sans-serif;
    color: darkslategrey;
}

#top-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

header {
    background: yellow;
    box-shadow: 0 1px 10px gray;
}

nav {
    background: yellow;
}

#header-inner {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: end;
}

#page-heading {
    margin-right: 60px;
}

#login-status {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#logged-user {
    font-weight: bolder;
    display: inline-flex;
    align-items: center;
    padding-right: 20px;
}

#nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 10px;
}

.nav-item:link, .nav-item:visited, .nav-item:active {
    padding: 3px 10px;
    font-weight: bolder;
    background: yellow;
    color: dimgrey;
    align-self: end;
}

.nav-item:hover, #nav-selected:link, #nav-selected:visited, #nav-selected:active, #nav-selected:hover {
    padding: 2px 10px;
    font-weight: bolder;
    font-size: larger;
    color: black;
    align-self: end;
}

main {
    flex-grow: 2;
}

#main-inner {
    padding-top: 20px;
    padding-bottom: 20px;
}

#content-header {
    padding-top: 30px;
}

#content {
    padding: 0 0 10px 0;
    border-collapse: collapse;
}

#content-detail {
    padding: 30px 0 10px 0;
}

#content-detail-header {
    display: flex;
    flex-direction: row;
}

#content-detail-list {
    margin-top: 20px;
}

.detail-desc {
    padding-top: 15px;
    flex-grow: 2;
}

.detail-button-area {
    display: flex;
    padding-top: 15px;
}

.detail-name {
    font-size: 28px;
}

.detail-author {
    font-size: 20px;
}

.detail-other {
    font-size: 16px;
}

footer {
    background: lightgoldenrodyellow;
}

#footer-inner {
    padding-top: 25px;
    padding-bottom: 25px;
}

div[id$='inner'] {
    max-width: 800px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}

input[type='submit'] {
    margin-left: 5px;
}

#welcome-text {
    padding: 40px 0;
}

.search_filter {
    padding-top: 10px;
    font-size: 14px;
}

.search_filter label {
    margin-right: 10px;
}

#result-count {
    padding: 10px 0;
}

.heading-w-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    padding-bottom: 10px;
    padding-right: 5px;
}

.list-wrapper {
    padding: 10px 0;
}

.list-item {
    height: 100px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.list-item-inner {
    min-width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.list-item-tag-list {
    height: 75px;
    flex-grow: 2;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
}

.detail-tag-list {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.tag-item {
    margin-right: 10px;
    padding: 5px 8px 5px 5px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    font-style: italic;
    font-size: 14px;
    color: darkgrey;
    background: lightgoldenrodyellow;
}

.detail-tag-item {
    margin-right: 10px;
    padding: 5px 8px 5px 5px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    font-style: italic;
    font-size: 14px;
    color: darkgrey;
    background: lightgoldenrodyellow;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-button-icon .btn-del-tag, .form-button-icon .btn-add-tag {
    width: auto;
    padding: 0;
    margin: 0 0 0 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    color: lightgrey;
    font-style: italic;
    display: flex;
}

.form-button-icon .btn-add-tag {
    margin-left: 3px;
}

.form-button-icon .btn-del-tag:hover, .form-button-icon .btn-add-tag:hover {
    color: darkslategrey;
    font-weight: bolder;
    border: none;
    box-shadow: none;
}

.list-item-button {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-item-button-empty {
    margin-left: 64px;
}

.list-item-button p, .list-item-page p,.btn-desc {
    font-size: 10px;
    text-align: center;
    max-width: 39px;
}

.list-item-page {
    margin-right: 10px;
    min-width: 40px;
}

.list-item-page span {
    display: block;
    font-size: 20px;
    text-align: center;
}

#note-table {
    width: 100%;
    table-layout: fixed;
}

.note-list-item {
    height: 50px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.note-list-item-color {
    width: 2%;
    padding: 4px 10px 4px 0;
}

.note-list-item-page {
    width: 14%;
    padding: 0 10px;
}

.note-list-item-page p {
    font-size: 10px;
    text-align: center;
}

.note-list-item-page span {
    display: block;
    font-size: 20px;
    text-align: center;
}

.note-list-item-name {
    width: 14%;
    text-align: center;
    padding: 0 10px;
}

.note-list-item-text {
    color: darkgrey;
    width: 56%;
    padding: 0 10px;
}

.note-list-item-text p {
    overflow-wrap: break-word;
}

.note-list-item-button {
    width: 7%;
}

.form-button-icon button, .form-button-wrapper button {
    width: 40px;
    margin: 0 2px;
}

.form-button-wrapper {
    padding-left: 8px;
}

.title-name {
    font-size: 25px;
    color: black;
}

.title-year {
    font-size: 14px;
    margin-left: 5px;
    color: grey;
}

.title-author {
    font-size: 16px;
}

.title-genre {
    font-size: 14px;
    color: gray;
}

.form-button-icon button {
  position: relative;
  display: inline-block;
}

.form-button-icon .tooltip, .form-page-input .tooltip {
    display: none;
    color: white;
    font-weight: lighter;
}

.form-button-icon:hover button .tooltip {
    display: block;
    position: absolute;
    z-index: 1;
    background: darkslategrey;
    opacity: 90%;
    border-radius: 10%;
    padding: 5px 10px;
    white-space: nowrap;
    top: 100%;
    left: 50%;
    margin-left: -20px;
    margin-top: 3px;
}

.page-input:focus ~ .tooltip, .page-input:hover ~ .tooltip {
    display: inline;
    z-index: 1;
    color: grey;
    font-size: 14px;
    margin-left: 10px;
}

.form-page-input i {
    font-size: 12px;
}

img {
    margin: 10px 25px 10px 0;
}

h1 {
    margin: 0;
    color: black;
    font-family: Ubuntu, sans-serif;
}

h2 {
    margin: 0;
    color: black;
    padding-bottom: 10px;
}

h3 {
    margin: 0;
    padding-bottom: 10px;
    padding-top: 20px;
    color: darkslategrey;
}

a:link, a:visited, a:active, a:hover {
    text-decoration: none;
    color: black;
}

a:hover {
    color: slategray;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 0;
    padding-bottom: 10px;
}

p {
    margin: 0;
    padding: 4px 0;
}

button:hover {
    cursor: pointer;
}

.btn-add:hover {
    box-shadow:
            -1px 0 1px lightgreen,
            -1px 1px 1px lightgreen,
            -1px -1px 1px lightgreen,
            1px 0 1px lightgreen,
            1px -1px 1px lightgreen,
            1px 1px 1px lightgreen,
            0 -1px 1px lightgreen,
            0 1px 1px lightgreen;

}

.btn-del:hover {
    box-shadow:
            -1px 0 1px indianred,
            -1px 1px 1px indianred,
            -1px -1px 1px indianred,
            1px 0 1px indianred,
            1px -1px 1px indianred,
            1px 1px 1px indianred,
            0 -1px 1px indianred,
            0 1px 1px indianred;

}

.btn-edit:hover {
    box-shadow:
            -1px 0 1px cornflowerblue,
            -1px 1px 1px cornflowerblue,
            -1px -1px 1px cornflowerblue,
            1px 0 1px cornflowerblue,
            1px -1px 1px cornflowerblue,
            1px 1px 1px cornflowerblue,
            0 -1px 1px cornflowerblue,
            0 1px 1px cornflowerblue;

}

.btn-finish:hover {
    box-shadow:
            -1px 0 1px yellow,
            -1px 1px 1px yellow,
            -1px -1px 1px yellow,
            1px 0 1px yellow,
            1px -1px 1px yellow,
            1px 1px 1px yellow,
            0 -1px 1px yellow,
            0 1px 1px yellow;

}

.button:link, .button:visited, .button:active, button, input[type='submit'], input[type='text'], input[type='number'],
textarea, input[type='color'], input[type='password'] {
    display: inline-block;
    padding: 11px;
    border-radius: 10px;
    border: 1px solid darkslategray;
    background: lightgoldenrodyellow;
    color: darkslategray;
    font-family: 'Archivo', sans-serif;
}

.button:hover, button:hover, input[type='submit']:hover, input[type='text']:hover, input[type='number']:hover,
textarea:hover, input[type='color']:hover, input[type='password']:hover {
    padding: 10px;
    border: 2px solid black;
    color: black;
    font-weight: bolder;
    box-shadow:
            -1px 0 1px lightgrey,
            -1px 1px 1px lightgrey,
            -1px -1px 1px lightgrey,
            1px 0 1px lightgrey,
            1px -1px 1px lightgrey,
            1px 1px 1px lightgrey,
            0 -1px 1px lightgrey,
            0 1px 1px lightgrey;
}

input[type='text']:focus, input[type='number']:focus, textarea:focus,
input[type='color']:focus, input[type='password']:focus {
    padding: 10px;
    border: 2px solid black;
    color: black;
    font-weight: bolder;
    box-shadow:
            -1px 0 1px lightgrey,
            -1px 1px 1px lightgrey,
            -1px -1px 1px lightgrey,
            1px 0 1px lightgrey,
            1px -1px 1px lightgrey,
            1px 1px 1px lightgrey,
            0 -1px 1px lightgrey,
            0 1px 1px lightgrey;
}

input[type='submit'] {
    background: whitesmoke;
    padding: 4px 10px;
    border-radius: 5px;
}

input[type='submit']:hover {
    background: gainsboro;
    padding: 3px 9px;
    border-radius: 5px;
}

input[type='text'], input[type='number'], input[type='color'], input[type='password'], textarea {
    background: white;
    padding: 4px 4px;
    border-radius: 5px;
}

input[type='text']:hover, input[type='number']:hover, textarea:hover,
input[type='color']:hover, input[type='password']:hover {
    font-weight: normal;
    background: white;
    padding: 3px 3px;
    border-radius: 5px;
}

input[type='text']:focus, input[type='number']:focus, textarea:focus,
input[type='color']:focus, input[type='password']:focus {
    font-weight: normal;
    background: white;
    padding: 3px 3px;
    border-radius: 5px;
}

input[type='color'] {
    height: 30px;
    padding: 2px 4px;
}

input[type='color']:hover, input[type='color']:focus {
    padding: 1px 3px;
}

input[class='page-input'] {
    width: 60px;
    font-family: 'Archivo', sans-serif;
    color: darkslategrey;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    background: none;
}

input[class='page-input']:focus, input[class='page-input']:hover {
    width: 60px;
    font-family: 'Archivo', sans-serif;
    color: darkslategrey;
    padding: 3px 3px 3px 3px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0 0 10px;
}

li {
    padding-bottom: 10px;
    vertical-align: top;
    display: flex;
    flex-direction: row;
}

li span {
    margin-right: 10px ;
}

li[class$='required'] {
    font-weight: bold;
}

td {
    margin: 0;
    padding: 0;
}

.todo {
    padding: 10px 0;
    color: red;
}

.err-msg {
    padding: 5px 0 10px 0;
    color: red;
}

.ok-msg {
    padding: 5px 0 10px 0;
    color: forestgreen;
}

.err-link:link, .err-link:visited {
    color: red;
    text-decoration: underline;
}

.err-link:active, .err-link:hover {
    color: indianred;
    text-decoration: underline;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
    animation-name: fadeIn;
    animation-duration: 0.4s
}

.modal-inner {
    position: fixed;
    border: 1px solid darkgrey;
    width: 50%;
    left: 25%;
    top: 25%;
    background-color: lightyellow;
}

#add-note-close, #add-tag-close, #create-tag-close {
    color: black;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

#add-note-close:hover, #add-note-close:focus, #add-tag-close:hover, #add-tag-close:focus, #create-tag-close:hover,
#create-tag-close:focus {
    color: grey;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 20px 30px 10px 30px;
    background-color: lightgoldenrodyellow;
    color: black;
    box-shadow: 0 1px 10px gray;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.modal-body {
    padding: 20px 30px;
}

.modal-form {
    display: flex;
    align-items: end;
}

.modal button {
    margin: 10px 5px;
    max-height: 38px;
    width: 39px;
}

.modal-form form {
    flex-grow: 2;
}
.modal .btn-add {
    float: right;
}

.modal input[type="number"] {
    width: 60px;
}

.input-row {
    padding: 8px 0;
    display: flex;
    flex-direction: row;
    align-items: start;

}

textarea {
    width: 50%;
    max-width: 80%;
}

label {
    padding-right: 10px;

}
label[for="page_end"] {
    padding: 0 5px;
}

.required-label {
    font-weight: bold;
}

svg circle:hover {
    cursor: pointer;
}

svg circle .selected-color {
    border: 1px solid black;
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

.shelf-list {
    margin-top: 30px;
}

.shelf-list tr td {
    margin: 0;
    border: 2px solid saddlebrown;
    border-collapse: collapse;
    height: 40px;
}

.shelf-list .top td:first-child, .shelf-list .top td:nth-child(2),
.shelf-list .small td:first-child, .shelf-list .small td:nth-child(2)  {
    border-right: none;
}

.shelf-list .top td:nth-child(2), .shelf-list .top td:last-child,
.shelf-list .small td:nth-child(2), .shelf-list .small td:last-child {
    border-left: none;
}

.shelf-list .small td,.shelf-list .top td {
    height: 10px;
}

.shelf-list .bottom td {
    height: 30px;
}

.shelf-list .small td:first-child, .shelf-list .small td:last-child, .shelf-list .normal td:last-child,
.shelf-list .normal td:first-child, .shelf-list .top td:first-child, .shelf-list .top td:last-child,
.shelf-list .bottom td:nth-child(2) {
    border-bottom: none;
}

.shelf-list .small td:first-child, .shelf-list .small td:last-child, .shelf-list .normal td:first-child,
.shelf-list .normal td:last-child, .shelf-list .bottom td:first-child, .shelf-list .bottom td:last-child {
    border-top: none;
}

.shelf-list .small td, .shelf-list .normal td:first-child, .shelf-list .normal td:last-child,
.shelf-list .top td, .shelf-list .bottom td:first-child, .shelf-list .bottom td:last-child{
    background: sandybrown;
}

.shelf-list .normal .shelf-item {
    padding: 0 20px 5px 20px;
    vertical-align: bottom;
}

.shelf-list a {
    font-size: 20px;
    font-weight: bold;
    color: dimgrey;
}

.shelf-list a:hover {
    color: black;
}

.shelf-list .shelf-new {
    color: darkgrey;
}

.shelf-new i {
    font-size: 15px;
}

.shelf-list span {
    font-size: 12px;
    color: grey;
    padding-left: 5px;
}

#create-tag-btn {
    cursor: pointer;
}

.checkbox-item {
    font-size: 18px;
    padding-bottom: 5px;
}

.checkbox-item label {
    padding-left: 10px;
}

.isbn-form {
    padding: 5px 0;
}

label[for='search'] {
    padding: 0;
}

.small-link:hover, .small-link:link, .small-link:visited, .small-link:active {
    text-decoration: underline;
}

#add-to-shelf {
    margin-left: 7px;
}
